@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  scroll-behavior: smooth;
  background-image: url("/public_html/img/51772fa8-c3ec-4e45-b848-499296e1abb6.jpg");
  background-size: cover;
  background-repeat:no-repeat;
}
a {
  text-decoration: none;
  color: #fff;
}
#header {
  background-color: #36393e;
  width: 100%;
  position: relative;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}
.logo {
  float: left;
  padding: 26px 0 26px;
  display: none;
}

.logo a {
  font-size: 20px;
  display: block;
  padding: 0 0 0 20px;
}
.logo a:hover {
  color: #97ff05;
}
nav {
  float: center;
}

nav ul {
  float: right;
  position: relative;
  padding-left: 6%;
}

nav li {
  list-style: none;
  float: left;
  display: inline;
}

nav li a {
  float: left;
  padding: 30px 20px;
  text-decoration: none;
  background: no-repeat 0 100%;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}

#x {
  font-size: 30px;
  color: #fff;
  width: 30px;
  margin-bottom: 4px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.1s;
  display: none;
}

#dash {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  margin-right: 30px;
  display: none;
}

#list {
  font-size: 30px;
  color: #fff;
  width: 30px;
  margin-bottom: 4px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.1s;
}
.tab{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #45a049;
  border-radius: 10px;
}
.tab h1{
  font-size:50px;
  color: #68d46e;
  text-align: center;
}
.tab p{
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.social-media a{
  font-size: 30px;
  padding: 8px;
}
.container-current-jobs {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #45a049;
  border-radius: 10px;
}
.header-current-jobs {
  text-align: center;
  color: #68d46e;
}
.container-contact {
  color:#ffff;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #45a049;
  border-radius: 10px;
}
.container-contact p{
  text-align: center;
}
.header-contact {
  text-align: center;
  color: #68d46e;
}
input[type="text"],
select,
textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  display: block;
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer {
  margin-top: auto;
  background-color: #36393e;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 960px) {
  nav {
    display: block !important;
  }
}

@media only screen and (max-width: 959px) {
  #header {
    background-color: #36393e;
  }
  #header nav a {
    color: #fff;
    padding: 8px;
  }
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    padding: 10px;
    background-color: #4b4f55;
  }
  nav ul {
    padding-left: 0;
    float: none;
  }
  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    padding: 80px;
    display: block;
    text-align: center;
  }
  .logo {
    display: block;
  }
  #dash {
    display: inline;
    top: 45px;
    cursor: pointer;
  }
  #dash.active #x {
    display: block;
  }
  #dash.active #list {
    display: none;
  }
}
